
.MyPosts{
  
  grid-area: posts;
  background-color: #111;
}

.posts{
  padding: 10px 0 0 10px;
  color: #fc1
}

.posts textarea{
  width: 970px;
  height: 50px
}

.post img{
  width: 50px;
  border-radius: 1em
}