.nav{
  grid-area: nav;
  background-color: rgba(218, 209, 175, 0.212);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 15px;
  padding-left: 15px;
}



.item{
  margin: 2px 0;
  color: #123;
}



.item a{
   
  color: rgb(34, 18, 18);
  text-decoration: none;
  font-size: 18px;
}

.item a.active{
  color: rgb(148, 12, 160);
}
